@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@layer base {
  :root {
    --secondary-background: #F1FDF6;
    --border-active: #05E47A24;
    --background: #0a1f13;
    --foreground: #01AB79;
    --border: #2a4d3a;
    --secondary: #e6f9ef;
    --secondary-foreground: #01AB79;
    --bar: #E4E7EC;
  }

  .dark {
    --secondary-background: #F1FDF6;
    --secondary: #e6f9ef;
    --secondary-foreground: #01AB79;
    --border-active: #05E47A24;
    --background: #0a1f13;
    --foreground: #01AB79;
    --border: #2a4d3a;
    --bar: #E4E7EC;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-[#122023] text-white;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 18px;
  width: 18px;
  border: 1px solid #009569;
  background-color: #F0EEFA;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Create a custom checkbox */
input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #009569;
  opacity: 0;
  transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

input[type="radio"]+label span {
  transition: background .2s,
    transform .2s;
}

input[type="radio"]+label span:hover,
input[type="radio"]+label:hover span {
  transform: scale(1.2);
}

input[type="radio"]:checked+label span {
  background-color: #01AB79; 
  box-shadow: 0px 0px 0px 2px white inset;
}

/* input[type="radio"]:checked+label {
  color: #3490DC; 
} */


/* loader */

  .line {
    float: left;
    width: 100px;
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
    /* background-size: 600px; */
    animation: shine-lines 2s infinite ease-out;
  }

  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }
    40%, 100% {
      background-position: 140px;
    }
  }


  /* Fade In */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade In from Top */
.fade-in-top {
  animation: fadeInTop 0.4s ease-in-out;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Slide Left Animation */
.slide-left {
  animation-name: slideLeft;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Disable for tablet and desktop */
@media (min-width: 768px) {
  .slide-left {
    animation: none;
  }
}


/* Slide Right Animation */
.slide-right {
  animation-name: slideRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }
  50% {
    transform: translateX(5px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Scrollbar Hidden */
.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.bgOverlayGradient {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(200,255,239,0.3040966386554624) 100%);
}